/**
 * ----------------------------------------
 * animation bounce-top for mouse icon
 * ----------------------------------------
 */

@keyframes bounce-top {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce-top {
  animation: bounce-top 2s ease-in-out infinite;
  display: inline-block;
  will-change: transform;
}
